################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevExtremeAspNetCoreApp2/DesignTimeBuild
/.vs/DevExtremeAspNetCoreApp2/v17/.futdcache.v2
